@page
@model VTET.RazorWebApp.Pages.NewFolder.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Watch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.EstimatePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.EstimatePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Condition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Customer.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Watch.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
