@page
@model VTET.RazorWebApp.Pages.Watch.WatchDetailModel
@{
    var evaluations = Model.Evaluations;
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    

    .product-container {
        display: flex;
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        max-width: 800px;
        margin-left: 350px;
    }

    .image-container {
        flex: 1;
    }

        .image-container img {
            max-width: 100%;
            border-radius: 10px;
        }

    .product-details {
        flex: 2;
        padding-left: 20px;
    }

        .product-details h1 {
            font-size: 24px;
            margin: 0 0 10px;
        }

    .price {
        font-size: 20px;
        color: red;
        margin: 10px 0;
    }

    .description {
        font-size: 16px;
        color: #333;
        margin: 20px 0;
    }

    input[type="number"] {
        width: 50px;
        padding: 5px;
        margin-right: 10px;
    }

    button {
        padding: 10px 20px;
        background-color: #ff6347;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

        button:hover {
            background-color: #ff4500;
        }

    .categories {
        margin-top: 20px;
        font-size: 14px;
        color: #666;
    }

    .share {
        margin-top: 20px;
    }

        .share p {
            margin: 0;
            font-size: 14px;
            color: #666;
        }

        .share a {
            margin-right: 10px;
        }

        .share img {
            width: 24px;
            height: 24px;
        }

</style>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="px-4 px-lg-5 container">
        <a class="navbar-brand" href="/HomePage">Watch Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4 me-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">Watch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Evaluation">Evaluation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrdersPage/Index">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">OrderDetail</a>
                </li>

            </ul>
            
        </div>
    </div>
</nav>

<div class="text-center">
    <h1 class="display-6">WATCH DETAIL </h1>
</div>

<div class="product-container">
    <div class="image-container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81-Fm8omZjL.jpg" alt="Green Apple">
    </div>
    <div class="product-details">
        <h1>Full Name: @Model.Watches.FullName</h1>
        <p class="price">Condition: @Model.Watches.Condition★</p>
        <p class="price">@Model.Watches.Price - @Model.Watches.EstimatePrice </p>
        <p class="description">Type: @Model.Watches.Type - Brand: @Model.Watches.Brand</p>
        
        <button><a class="btn-outline-dark mt-auto" asp-page="/watch/test" asp-route-id="@Model.Watches.Id">Check</a></button>
        <p class="categories">Location:  @Model.Watches.Location - Date: @Model.Watches.CreateDate </p>
        
    </div>
</div>

       

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<td><a class="btn-outline-dark mt-auto" asp-page="/watch/test" asp-route-id="@Model.Watches.Id">@Model.Watches.Id</a></td>