@page
@model EvaluationModel
@{
    ViewData["Title"] = "evaluation page";
    var evaluations = Model.Evaluations;
    var watchs = Model.Watchs;
}




<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="px-4 px-lg-5 container">
        <a class="navbar-brand" href="#!">Evaluation Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4 me-auto">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Evaluation">Evaluation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">OrderDetail</a>
                </li>

            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Welcome @Model.Fullname
                    <span class="badge bg-dark text-white ms-1 rounded-pill">( ͡° ͜ʖ ͡°)</span>
                </button>
            </form>

        </div>
    </div>
</nav>



<div class="col-md-12">
    <table class="table-striped table-bordered table-hover table">
        <thead>
            <tr class="card-header">
                <th class="card-title text-center">WatchId</th>
                <th class="card-title text-center">Comment</th>
                <th class="card-title text-center">Rate</th>
                <th class="card-title text-center">EstimatePrice</th>
                <th class="card-title text-center">CreateDate</th>
                <th class="card-title text-center">CreateBy</th>

            </tr>
        </thead>
        <tbody class="tblevaluationList">
            @if (evaluations != null && evaluations.Count > 0)
            {
                foreach (var evaluation in evaluations)
                {
                    <tr>
                        <td>@evaluation.WatchId</td>
                        <td>@evaluation.Comment</td>
                        <td>@evaluation.Rate</td>
                        <td>@evaluation.EstimatePrice</td>
                        <td>@evaluation.CreateDate</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-warning" onclick="editEvaluation(@evaluation.Id)">Edit</button>
                            <a class="btn btn-outline-dark mt-auto" asp-page="./Evaluation/DetailEvaluation" asp-route-id="@evaluation.Id">Detail</a>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@evaluation.Id" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">No Order Details available.</td>
                </tr>
            }

        </tbody>
    </table>
</div>
</div>

@* WATCH HERE *@

<div class="text-center">
    <h1 class="display-6">WATCH </h1>
</div>


<section class="">
    <div class="px-4 px-lg-5 mt-5 container">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (watchs != null && watchs.Count > 0)
            {
                foreach (var watch in watchs)
                {
                    <div class="col mb-5 d-flex">
                        <div class="card h-100 d-flex flex-column">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4 d-flex flex-column">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@watch.FullName</h5>
                                    <!-- Product price-->
                                    <p>@watch.Price</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-auto">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" asp-page="./Evaluation/AddEvaluation" asp-route-id="@watch.Id">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>




<div class="modal fade" id="evaluationModal" tabindex="-1" aria-labelledby="evaluationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Edit", "watch", FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="evaluationModalLabel">evaluation Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="evaluationModalContent">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="evaluationId">Evaluation_ID</label>
                                <input asp-for="Evaluation.Id" class="form-control" readonly />
                            </div>
                            <div class="col-md-6">
                                <label for="watchId">Watch_ID</label>
                                <input asp-for="Evaluation.WatchId" class="form-control" id="watchId" readonly />
                            </div>
                            <div class="col-md-6">
                                <label for="evaluationId">Comment</label>
                                <input asp-for="Evaluation.Comment" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label for="evaluationId">Rate</label>
                                <input asp-for="Evaluation.Rate" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label for="evaluationId">EstimatePrice</label>
                                <input asp-for="Evaluation.EstimatePrice" class="form-control" />
                            </div>

                            <div class="col-md-12">
                                <label>@Model.Message</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        function editEvaluation(id) {
            // Clear form fields
            $('#frm')[0].reset();
            $.get('@Url.Page("/Evaluation", new { handler = "Edit" })', { id: id }, function (data) {
                var result = $(data).find('#evaluationModalContent').html();
                $('#evaluationModalContent').html(result);
                $('#evaluationIdDiv').show(); // Show the OrderId field
                $('#frm').attr('action', '@Url.Page("/Evaluation", new { handler = "Edit" })');
                $('#evaluationModal').modal('show');
            });
        }

        $('#evaluationModal').on('hidden.bs.modal', function () {
            // Reset form khi modal bị ẩn
            $('#frm')[0].reset();
            $('#evaluationModalContent').html(`
                                <div class="row">
                                         <div class="col-md-6">
                                                <label for="evaluationId">ID</label>
                                                <input type="text" id="Evaluation_Id" name="Evaluation.Id" class="form-control" readonly />
                                            </div>
                                    <div class="col-md-6">
                                        <label for="evaluationId">Watch_ID</label>
                                        <input type="text" id="Evaluation_WatchId" name="Evaluation.WatchId" class="form-control"  />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="evaluationId">Comment</label>
                                        <input type="text" id="Evaluation_Comment" name="Evaluation.Comment" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="evaluationId">Rate</label>
                                        <input type="text" id="Evaluation_Rate" name="Evaluation.Rate" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="evaluationId">EstimatePrice</label>
                                        <input type="text" id="Evaluation_EstimatePrice" name="Evaluation.EstimatePrice" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="evaluationId">CreateDate</label>
                                        <input type="text" id="Evaluation_CreateDate" name="Evaluation.CreateDate" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>@Model.Message</label>
                                    </div>
                                </div>
                            `); // Reset content
        });


    </script>
}