@page
@model VTET.RazorWebApp.Pages.OrderDetailPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Watch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Watch.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Tax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.ShippingCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.ShippingCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.ShipmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.ShipmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.EstimatedDeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.EstimatedDeliveryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderDetail.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
