@page
@model VTET.RazorWebApp.Pages.OrderDetailPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="px-4 px-lg-5 container">
            <a class="navbar-brand" href="/HomePage">OrderDetail Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4 me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">Watch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Evaluation">Evaluation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/OrdersPage/Index">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">OrderDetail</a>
                    </li>


                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">


                        <span class="badge bg-dark text-white ms-1 rounded-pill">( ͡° ͜ʖ ͡°)</span>
                    </button>
                </form>

            </div>
        </div>
    </nav>

</header>


<form method="get" id="searchForm">
    <div class="row g-3">
        <div class="col-md-4 col-lg-3">
            <label for="orderFullNameSearch" class="form-label">Order Full Name</label>
            <input type="text" name="orderFullNameSearch" id="orderFullNameSearch" value="@Request.Query["orderFullNameSearch"]" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="watchFullNameSearch" class="form-label">Watch Full Name</label>
            <input type="text" name="watchFullNameSearch" id="watchFullNameSearch" value="@Request.Query["watchFullNameSearch"]" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="amountSearch" class="form-label">Amount</label>
            <input type="number" name="amountSearch" id="amountSearch" value="@Request.Query["amountSearch"]" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="priceSearch" class="form-label">Price</label>
            <input type="number" step="0.01" name="priceSearch" id="priceSearch" value="@Request.Query["priceSearch"]" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="discountSearch" class="form-label">Discount</label>
            <input type="number" step="0.01" name="discountSearch" id="discountSearch" value="@Request.Query["discountSearch"]" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="taxSearch" class="form-label">Tax</label>
            <input type="number" step="0.01" name="taxSearch" id="taxSearch" value="@Request.Query["taxSearch"]" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="shippingCostSearch" class="form-label">Shipping Cost</label>
            <input type="number" step="0.01" name="shippingCostSearch" id="shippingCostSearch" value="@Request.Query["shippingCostSearch"]" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="shipmentDateSearch" class="form-label">Shipment Date</label>
            <input type="date" name="shipmentDateSearch" id="shipmentDateSearch" value="@Model.ShipmentDateSearch?.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
        <div class="col-md-4 col-lg-3">
            <label for="estimatedDeliveryDateSearch" class="form-label">Estimated Delivery Date</label>
            <input type="date" name="estimatedDeliveryDateSearch" id="estimatedDeliveryDateSearch" value="@Model.EstimatedDeliveryDateSearch?.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Search</button>
         
        </div>
    </div>
</form>

<div class="my-3 text-end">
    <a asp-page="Create" class="btn btn-success">Create New</a>
</div>

@if (Model.OrderDetail != null && Model.OrderDetail.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Watch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Tax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].ShippingCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].ShipmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].EstimatedDeliveryDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Watch.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedDeliveryDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.PageIndex - 1)"
                   asp-route-orderFullNameSearch="@Model.OrderFullNameSearch"
                   asp-route-watchFullNameSearch="@Model.WatchFullNameSearch"
                   asp-route-amountSearch="@Model.AmountSearch"
                   asp-route-priceSearch="@Model.PriceSearch"
                   asp-route-discountSearch="@Model.DiscountSearch"
                   asp-route-shipmentDateSearch="@Model.ShipmentDateSearch?.ToString("yyyy-MM-dd")"
                   asp-route-estimatedDeliveryDateSearch="@Model.EstimatedDeliveryDateSearch?.ToString("yyyy-MM-dd")">Previous</a>
            </li>
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-page="./Index" asp-route-pageIndex="@i"
                       asp-route-orderFullNameSearch="@Model.OrderFullNameSearch"
                       asp-route-watchFullNameSearch="@Model.WatchFullNameSearch"
                       asp-route-amountSearch="@Model.AmountSearch"
                       asp-route-priceSearch="@Model.PriceSearch"
                       asp-route-discountSearch="@Model.DiscountSearch"
                       asp-route-shipmentDateSearch="@Model.ShipmentDateSearch?.ToString("yyyy-MM-dd")"
                       asp-route-estimatedDeliveryDateSearch="@Model.EstimatedDeliveryDateSearch?.ToString("yyyy-MM-dd")">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageIndex >= Model.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.PageIndex + 1)"
                   asp-route-orderFullNameSearch="@Model.OrderFullNameSearch"
                   asp-route-watchFullNameSearch="@Model.WatchFullNameSearch"
                   asp-route-amountSearch="@Model.AmountSearch"
                   asp-route-priceSearch="@Model.PriceSearch"
                   asp-route-discountSearch="@Model.DiscountSearch"
                   asp-route-shipmentDateSearch="@Model.ShipmentDateSearch?.ToString("yyyy-MM-dd")"
                   asp-route-estimatedDeliveryDateSearch="@Model.EstimatedDeliveryDateSearch?.ToString("yyyy-MM-dd")">Next</a>
            </li>
        </ul>
    </nav>



}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Watch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Tax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].ShippingCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].ShipmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].EstimatedDeliveryDate)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
}
